@import url("components/cards.css");

body {
  background-color: black;
}

.container {
  text-align: center;
  color: whitesmoke;
  padding: 16px;
}

h1,h2,h3,h4{
  font-family: 'Josefin Sans', sans-serif;
}

.theme {
  display : flex;
  justify-content: space-evenly;

}

.speach {
  width: 300px;
}

a {
  color: whitesmoke;
}
ul {
  list-style-type: none;
  padding: 0;

}

/*Flex-wrap*/
/*Flex container {*/
/*  justify-content: ......;*/
