.card{
  height:100%;
}

.card img{
  height: 80%;
}

.cards {
  display : flex;
  justify-content: space-between;
  height: 300px;

}

.daymovie {
justify-content: space-evenly;
display: flex;
width: 300;
}
